.container {
    font-family: Arimo;
}
table {
    width: 100%;
    color: #484848;
    border: 21px solid #3A4965;
    text-transform: uppercase;
}
td, th {
    border: 1px solid #DDDDDD;
    text-align: center;
}
td {
    padding: 25px;
}
tr:nth-child(odd) {
    background: #F2F2F2;
}
tr:nth-child(even) {
    background: #E3E3E3;
}
.button td:first-child {
    background: #DDDDDD;
}
.first-col {
    width: 30%;
}
.choose-plan {
    padding: 51px 36px;
}
.choose {
    font-size: 18px;
    font-weight: bold;
}
.plan {
    font-size: 30px;
    font-weight: bold;
}
.stand {
    background: #89C331;
}
.standart {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
th {
    vertical-align: middle;
background: white;
}
.ulti {
    background: #F04A56;
}
.ultimate {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}
.prem {
    background: #20807C;
}
.premium {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.price {
    position: relative;
}
.doll {
display: flex;
    font-weight: bold;
    font-size: 60px;
    margin-left: 33px;
}
.cent {
    position: absolute;
    top: 15px;
    left: 140px;
    font-weight: bold;
    font-size: 24px;
}
.month {
    position: absolute;
    top: 45px;
    left: 140px;
}
.but {
    padding: 40px 50px;
}
a.button-one {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #404040;
    padding: 18px 46px;
    border-radius: 5px;
}
a.button-one:hover {
    background: #484848;
}
a.button-two {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #79B027;
    padding: 18px 59px;
    border-radius: 5px;
}
a.button-two:hover {
    background: #89C331;
}
a.button-three {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #DF3A46;
    padding: 18px 59px;
    border-radius: 5px;
}
a.button-three:hover {
    background: #F04A56;
}
a.button-four {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #16736F;
    padding: 18px 59px;
    border-radius: 5px;
}
a.button-four:hover {
    background: #20807C;
}